* {
  box-sizing: border-box;
}

:root {
  --white-color: #fff;
  --with-background-color: #d9dbe4;
  --blue-color: #334ac4;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--with-background-color);
  color: var(--blue-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.base-card {
  background: var(--white-color);
  border-radius: 5px;
}
